.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    height: 93vh;
    margin: 0 auto;
    padding: 36px 16px;
    @include responsive() {
        flex-direction: column;
        justify-content: flex-start;
        height: 460px;
    }
}

.container-item-1 {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    h1 {
        margin-bottom: 8px;
    }
    p {
        margin-bottom: 32px;
    }
    @include responsive() {
        max-width: 100%;
        h1 {
            font-size: 30px;
            line-height: 0;
            width: 100%;
            padding: 0;
        }
        .mouse {
            display: none;
        }
    }
}

.container-item-2 {
    transition: .5s ease;
    @include responsive() {
        padding: 0 8px;
        img {
            width: 300px;
            margin: 0 auto;
        }
    }
}

.elementos {
    position: absolute;
    left: 810px;
    @include responsive() {
        left: 19px;
        width: 100%;
        overflow: hidden;
        z-index: -3;
        opacity: .2;
    }
}

.depoimentos {
    padding: 40px 40px;
    background: linear-gradient(108.62deg, #DFEEF0 3.54%, #E7F0F1 91.92%);
    margin-bottom: -160px;
    @include responsive() {
        padding: 0 4px;
    }
}

.depoimentos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 36px 16px;
    @include responsive() {
        padding: 12px 2px;
        flex-direction: column;
    }
}

.depoimentos-item-1 {
    display: flex;
    min-width: 580px;
    flex-direction: column;
    @include responsive() {
        padding: 16px 8px;
        h2 {
            margin-bottom: 16px;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 24px;
    margin: 32px 0;
    width: 540px;
    background: #FAFAFA;
    box-shadow: 0px 12px 148px rgba(0, 121, 133, 0.07), 0px 4.3802px 54.0224px rgba(0, 121, 133, 0.0482987), 0px 2.1265px 26.2269px rgba(0, 121, 133, 0.0389404), 0px 1.04245px 12.8569px rgba(0, 121, 133, 0.0310596), 0px 0.412187px 5.08364px rgba(0, 121, 133, 0.0217013);
    border-radius: 10px;
    @include responsive() {
        width: 315px;
        margin: 8px 0;
    }
}

.final {
    z-index: 999;
}

.card-text {
    display: flex;
    flex-direction: row;
    svg {
        width: 40%;
        padding: 0 8px;
        path {
            fill: $yellow;
        }
    }
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 6px;
    img {
        padding-right: 16px;
    }
    .foto {}
    .nome {
        span {
            color: $yellow;
            font-family: 'Source Sans Pro', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
        }
    }
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: rgba(0, 134, 147, 0.1);
    border-radius: 6px;
    color: $blue;
    cursor: pointer;
    transition: .6s ease;
    svg {
        path {
            fill: $blue;
        }
        margin-top: 1px;
        margin-right: 8px;
    }
    a {
        font-family: 'Source Sans Pro', sans-serif;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #008693;
        text-transform: uppercase;
    }
    &:hover {
        background: $blue;
        svg {
            path {
                fill: #fafafa;
            }
        }
        a {
            color: #fafafa;
        }
    }
}

.depoimentos-item-2 {
    display: flex;
    min-width: 740px;
    flex-direction: column;
    max-width: 576px;
    @include responsive() {
        z-index: 999;
        padding: 0px 8px;
    }
}

.video {
    display: flex;
    align-items: center;
    padding: 40px 40px;
    background: #fafafa;
    position: relative;
    @include responsive() {
        padding: 20px 5px;
    }
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
    max-width: 1140px;
    margin: 0 auto;
    @include responsive() {
        flex-direction: column;
        padding-top: 0;
        padding: 0 8px;
        height: 400px;
    }
}

.video-item-1 {
    max-width: 480px;
    h2 {
        margin-bottom: 64px;
    }
    button {
        display: none;
        margin: 16px 0;
        border-radius: 5px;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        background: $yellow;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #fafafa;
        transition: .6s ease;
        &:hover {
            transform: translate3d(0, -10px, 0);
            box-shadow: 0px 47px 127px rgba(255, 196, 0, 0.11), 0px 19.6355px 53.0576px rgba(255, 196, 0, 0.079074), 0px 10.4981px 28.3671px rgba(255, 196, 0, 0.0655718), 0px 5.88513px 15.9024px rgba(255, 196, 0, 0.055), 0px 3.12555px 8.44563px rgba(255, 196, 0, 0.0444282), 0px 1.30061px 3.51442px rgba(255, 196, 0, 0.030926);
        }
        @include responsive() {
            display: block;
            z-index: 999;
        }
    }
    @include responsive() {
        margin-bottom: 16px;
        width: 80%;
        margin-top: 150px;
        h2 {
            margin-bottom: 16px;
        }
    }
}

.orbita {
    @include responsive() {
        position: relative;
        left: -10px;
        width: 50%;
        opacity: .1;
        z-index: -999;
    }
}

.video-item-2 {
    max-width: 770px;
    transform: translate3d(200px, -60px, 0);
    .orbita-elemento {
        position: absolute;
        right: 180px;
        top: -70px;
        @include responsive() {
            display: none;
        }
    }
    .usuarios {
        position: absolute;
        z-index: 999;
        @include responsive() {
            display: none;
        }
        .user0 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 470px;
            left: 275px;
            transition: .6s ease;
            &::after {
                content: 'Vandy Rodrigues';
                text-align: center;
                display: block;
                width: 140px;
                height: 30px;
                padding: 4px 0;
                left: -50px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $yellow;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $yellow-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user1 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: -30px;
            left: 168px;
            transition: .6s ease;
            &::after {
                content: 'Bruno Silveira';
                text-align: center;
                display: block;
                width: 140px;
                height: 30px;
                padding: 4px 0;
                left: -50px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $blue;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $blue-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user2 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 280px;
            left: -50px;
            transition: .6s ease;
            &::after {
                content: 'Emanuel Di Matteo';
                text-align: center;
                display: block;
                width: 140px;
                height: 30px;
                padding: 4px 0;
                left: -50px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $yellow;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $yellow-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user3 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 410px;
            left: 440px;
            transition: .6s ease;
            &::after {
                content: 'Eustáquio Guimarães';
                text-align: center;
                display: block;
                width: 160px;
                height: 30px;
                padding: 4px 0;
                left: -40px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $blue;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $blue-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user4 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 25px;
            left: 440px;
            transition: .6s ease;
            &::after {
                content: 'Francisco Junior';
                text-align: center;
                display: block;
                width: 160px;
                height: 30px;
                padding: 4px 0;
                left: -40px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $yellow;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $yellow-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user5 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 280px;
            left: 340px;
            transition: .6s ease;
            &::after {
                content: 'Gilberto Uchoa';
                text-align: center;
                display: block;
                width: 160px;
                height: 30px;
                padding: 4px 0;
                left: -40px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $yellow;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $yellow-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user6 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 180px;
            left: 500px;
            transition: .6s ease;
            &::after {
                content: 'Jerônimo F. da Silva';
                text-align: center;
                display: block;
                width: 160px;
                height: 30px;
                padding: 4px 0;
                left: -40px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $blue;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $blue-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user7 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 35px;
            left: -60px;
            transition: .6s ease;
            &::after {
                content: 'Vandy Rodrigues';
                text-align: center;
                display: block;
                width: 160px;
                height: 30px;
                padding: 4px 0;
                left: -40px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $blue;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $blue-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user8 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 35px;
            left: -60px;
            transition: .6s ease;
            &::after {
                content: 'Victor Santana';
                text-align: center;
                display: block;
                width: 160px;
                height: 30px;
                padding: 4px 0;
                left: -40px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $yellow;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $yellow-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user9 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 435px;
            left: 90px;
            transition: .6s ease;
            &::after {
                content: 'Rodrigo L. Costa';
                text-align: center;
                display: block;
                width: 160px;
                height: 30px;
                padding: 4px 0;
                left: -40px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $blue;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $blue-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user10 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 215px;
            left: 90px;
            transition: .6s ease;
            &::after {
                content: 'Leandro Moreno';
                text-align: center;
                display: block;
                width: 160px;
                height: 30px;
                padding: 4px 0;
                left: -40px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $blue;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $blue-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
        .user11 {
            max-width: 64px;
            max-height: 64px;
            position: absolute;
            top: 92px;
            left: 280px;
            transition: .6s ease;
            &::after {
                content: 'Fábio Borges';
                text-align: center;
                display: block;
                width: 160px;
                height: 30px;
                padding: 4px 0;
                left: -40px;
                margin: -40px;
                margin-top: 5px;
                border-radius: 100px;
                background: $blue;
                color: $blue-dark;
                transition: .6s ease;
                opacity: 1;
                border: 1px solid $blue-dark;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    background-color: $red;
                    box-shadow: 0px 4px 55px rgba(219, 24, 38, 0.35), 0px 1.20588px 16.5809px rgba(219, 24, 38, 0.228056), 0px 0.500862px 6.88685px rgba(219, 24, 38, 0.175), 0px 0.181152px 2.49084px rgba(219, 24, 38, 0.121944);
                }
            }
        }
    }
}

.jeitohepta {
    display: flex;
    align-items: content;
    align-items: flex-end;
    padding: 40px 40px;
    background: #fafafa;
    @include responsive() {
        padding: 8px 8px;
    }
}

.jeitohepta-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    @include responsive() {
        flex-direction: column;
    }
}

.jeitohepta-item-1 {
    width: 700px;
    .mulher {
        transform: translate3d(-380px, 0, 0);
    }
    @include responsive() {
        transform: translate3d(-175px, 0, 0);
        margin-bottom: 32px;
    }
}

.jeitohepta-item-2 {
    width: 650px;
    @include responsive() {
        width: 50%;
    }
    transform: translate3d(-100px, 0, 0);
    span {
        background: rgba($blue, 0.1);
        padding: 8px 24px;
        border-radius: 100px;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: $blue;
    }
    h2 {
        margin: 32px 0;
    }
    p {
        margin-bottom: 64px;
        @include responsive() {
            margin-bottom: 32px;
        }
    }
    button {
        margin: 0;
        border-radius: 5px;
        padding: 16px 24px;
        border: none;
        cursor: pointer;
        background: $red;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #fafafa;
        transition: .6s ease;
        &:hover {
            transform: translate3d(0, -10px, 0);
            box-shadow: 0px 17px 29px rgba(219, 24, 38, 0.47), 0px 2.12866px 3.63125px rgba(219, 24, 38, 0.235);
        }
        @include responsive() {
            font-size: 18px;
            padding: 8px 16px;
        }
    }
}

.footer {
    display: flex;
    align-items: content;
    align-items: flex-end;
    padding: 40px 40px;
    background: #fafafa;
    @include responsive() {
        padding: 8px 8px;
    }
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    @include responsive() {
        width: 100%;
        padding: 8px 0;
    }
}

.footer-item {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 40px;
    align-items: center;
    background: $blue;
    border-radius: 100px;
    @include responsive() {
        width: 100%;
        padding: 8px 8px;
        flex-direction: column;
        border-radius: 4px;
        justify-content: center;
    }
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #FAFAFA;
        @include responsive() {
            text-align: center;
            margin-top: 16px;
        }
        a {
            font-family: 'Source Sans Pro', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 32px;
            text-decoration-line: underline;
            color: #FAFAFA;
            text-decoration: none;
            &::after {
                content: '';
                display: block;
                width: 0px;
                height: 2px;
                background: linear-gradient(269deg, #FFC400 0.77%, rgba(255, 196, 0, 0) 50.71%);
                transition: .6s ease;
                border-radius: 100px;
                opacity: 0;
            }
            &:hover {
                transition: .6s ease;
                &::after {
                    opacity: 1;
                    width: 486px;
                }
            }
        }
    }
}

.bg-loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(225deg, $blue 0%, $blue-dark 100%);
}